.header {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.headerlinks {
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    margin-top: 12px;
}

.logo {
    font-size: 18px;
    color: #E5E7EB; 
}

.links {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.container {
padding-right: 200px;
padding-left: 200px;
margin-top: 42px;
margin-bottom: 42px;
display: flex;
gap: 550px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;  
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;   
}

a {
    font-size: 18px;
    color: #E5E7EB; 
}

.text {
   display: flex;
   flex-direction: column;
   width: 450px;
   justify-content: center;
}

#signup {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 8px;
    border: 1px transparent;
    border-radius: 8px;
}

.placeholder {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gray;
    color: white;
    width: 500px;
}

/* end of header section */

.info {
    text-align: center;
}

body {
    border: 1px solid;
    
}


.containertwo {
    display: flex;
    justify-content: space-between;

    
    border: 1px solid;
    border-color: #f638b7;
    color: white;
    
}

.box {
    border: 1px solid;
    border-color: #3882F6;
    width: 400px;
    background-color: #bdc3ce;
}
    